// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-minify {
    .clickable {
        cursor: pointer;
    }

    .panel-body {
        padding: 15px 10px;

        p {
            margin: 8px 0 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .error-caption {
        }

        .error-text {
            padding: 0 0 0 7px;
        }

        .text-saving-info {
            padding: 0 0 0 21px;
            color: #aaa;
        }
    }
}
